<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Product Directory</title>
</head>
<body>
<div class="container">
    <h3>Product Directory</h3>
    <hr>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempProduct : ${products}">
            <td th:text="${tempProduct.name}"/>
            <td th:text="${tempProduct.description}"/>
            <td th:text="${tempProduct.price}"/>
            <td th:text="${tempProduct.qty}"/>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>